.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
}

.sliderContainer {
  height: 65vh;
  width: 90vw;
  background-color: #ffffff;
  border: 1px solid rgb(57, 57, 57);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  align-items: flex-end;
  margin-top: 5vh;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.slider {
  width: 33vw;
  height: 8vh;
  background-color: rgb(44, 44, 44);
  border: 1px solid black;
  border-radius: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0 4vw -5vh 4vw;
  font-size: 14px;
}

.class {
  color: white;
  margin: 3vw;
  font-size: 13px;
  width: 95%;
  border-radius: 10px;
}

.class th,
.class td {
  background-color: rgb(44, 44, 44);
  color: white;
  padding: 0 5px 0 5px;
  text-align: center;
  border-radius: 3px;
}

.class th {
  background-color: #000000;
  font-size: 14px;
  font-weight: 500;
  height: 5vh;
}

.input {
  width: 95%;
  margin-top: 3vh;
  border-radius: 10px;
}

.input th {
  font-size: 17px;
  font-weight: 900;
}

.input td {
  height: 4vh;
}

.input th,
.input td {
  font-size: 13px;
  padding: 4px;
  text-align: center;
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
}

.sliderActive .table {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  color: white;
}

.slider> span {
  margin: 0 2vw 0 2vw;
}

.sliderActive .table th,
.sliderActive .table td {
  color: white;
}

.sliderActive .slider,
.sliderActive .sliderContainer,
.sliderActive .resultBtn {
  display: none;
}
.input th:nth-child(7){
  background-color: white;
  width: 10vw;
}
.resultBtn>button {
  width: 10vw;
  height: 7vh;
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  color: white;
  border-radius: 10vw;
  margin: 0 5vw 3vh 5vw;
  cursor: pointer;
  font-size: 1.3rem;
}

.back{
  width: 7vw;
  height: 7vh; 
  font-size: 2rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.slider>input {
  accent-color: rgb(255, 255, 255);
}

.resultDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}