

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.top {
  height: 14vh;
}

.div {
  width: 100vw;
  height: 100vh;
}

.red {
  position: absolute;
  width: 100vw;
  height: 15vh;
  opacity: 0.3;
}

.gray {
  position: relative;
  display:flex;

  .box1{
    width:35vw;
    height: 30vh;
    margin-top: 55vh;
    margin-left:70vw;
    font-size: 2.3rem;
    color:#135206;
    font-weight: 700;

  }
  button{
    width:15vw;
    height:5vh;
    border:0;
    border-radius: 20px;
    background-color: #f9efdbb9;
    color: #135206;
    margin-left: 2vw;
    &:hover {
      background-color: #135206;
      color: #f9efdbb9;
      cursor: pointer;
    }
  }
}
.video {
  position: absolute;
  display:flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.blue {
  // background-color: #f6f1eb;;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 80vh;

}
.image{
  width:18vw;
  height:60vh;
  position: relative;
  display: flex;
}
.yellow {
  overflow: hidden;
  // background-color: #f6f1eb;
  display:flex;
  justify-content: center;
  align-items: center;
}

.purple {
  // background-color: #f6f1eb;
  height: 100vh;
}

.box{
  display:flex;
  margin-top:15vh;
}

.swiperpagination{
  top: 200vh;
}

.swiperbuttonnext{
  margin-top:200vh;
}

.subscriptionItem {
  width: 20vw;
  height: 80vh;
  background-color: #f6f1eb;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 0.3s ease; /* 테두리에 트랜지션 효과를 추가 */
  p{
    font-size: 1.5rem;
  }

  /* 호버 시 테두리 스타일 */
  &:hover {
    border: 5px solid black; /* 테두리 색 및 두께 설정 */
  }
}
.noslidesubscriptioncontainer{
  width:100vw;
  height:100vh;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin:0;
}
.noslidesubscriptionItem{
  width: 15vw;
  height: 30vh;
  background-color: lightgray;
  margin-top: 10vh;
  display: flex;
}