.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.banner1 {
  width: 100vw;
  height: 85vh;
  position: relative;
  display: flex;
  flex-direction: column;

  .box1 {
    width: 35vw;
    height: 30vh;
    margin-top: 20vh;
    margin-left: 5vw;
    font-size: 2rem;
    color: white;
    font-weight: 700;
  }

  button {
    width: 10vw;
    height: 5vh;
    border: 0;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-left: 2vw;

    &:hover {
      background-color: white;
      color: black;
      ;
      cursor: pointer;
    }
  }
}

.video {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 85vh;
  object-fit: cover;
  z-index: -1;
}

.banner2 {
  background-color: #f6f1eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;

  >a {
    text-decoration: none;
    color: black;
  }
}

.form {
  box-sizing: border-box;
  width: 25vw;
  height: 9vh;
  border-radius: 10px;
  border: 2px solid #000;
  background: #FAF4F4;
  font-size: 1.2rem;
  line-height: 9vh;
  text-align: center;

}

.search {
  box-sizing: border-box;
  width: 20vw;
  height: 7vh;
  background-color: rgba(248, 204, 212, 0);
  font-size: 1rem;
  border: none;
  cursor: pointer;
  text-align: center;
}

.banner3 {
  height: 80vh;
  background-color: #E9E9E9;
}

.banner4 {
  height: 80vh;
  background-color: #f1d4b2;
}

.banner5 {
  height: 30vh;
  background-color: #000;
  display: flex;
  align-items: center;
}

.name {
  width: 40vw;
  height: 15vh;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.info {
  width: 40vw;
  height: 30vh;
  color: white;
  padding-top: 3vh;
  font-size: 0.7rem;
  padding-left: 20vw;
}