$base-color: rgb(36, 36, 36);
$text-color: white;
$font-size-12: 12px;
$font-size-11: 11px;
$padding: 5px;
$border-width: 1px;
$border-radius: 10px;

.container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  justify-content: flex-start;
  align-items: center;
  width: 90vw;
  height: 10vh;
  padding: $padding;
  z-index: 100;
  background-color: $base-color;
  color: $text-color;
  margin-left: 5vw;
  border-radius: $border-radius;

  > div:nth-child(1) {
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 15px;

    > div > p:nth-child(1) {
      margin-left: 15px;
      font-size: $font-size-12;
    }

    > div > p:nth-child(2) {
      margin-bottom: 8px;
      font-size: $font-size-11;
      margin-left: 15px;
      color: gray;
    }
  }

  > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
  }

  > button {
    background-color: $base-color;
    cursor: pointer;
    border: $border-width solid $text-color;
    width: 2vw;
    height: 2vw;
    border-radius: 2vw;
    color: $text-color;
    font-size: 1rem;
    margin-left: 1vw;
  }

  > div:last-child {
    width: 30vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

    > p {
      font-size: $font-size-12;
      margin: 0 1vw 0 -5vw;
    }

    > button {
      background-color: $base-color;
      cursor: pointer;
      color: $text-color;
      border: $border-width solid $text-color;
      width: 2vw;
      height: 2vw;
    }
  }
}
