$container-width: 100vw;
$container-height: 100vh;
$container-inner-width: 90vw;
$container-inner-height: 65vh;
$container-inner-background-color: #ffffff;
$container-inner-border: 1px solid rgb(57, 57, 57);
$container-inner-border-radius: 10px;
$container-inner-padding: 10px;
$color-black: black;
$color-white: white;
$grid-row-height: 5vh;

.container {
  width: $container-width;
  height: $container-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-black;
  
  > div {
    width: $container-inner-width;
    height: $container-inner-height;
    background-color: $color-white;
    border: $container-inner-border;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    align-items: flex-end;
    border-radius: $container-inner-border-radius;
    padding: $container-inner-padding;
    margin-top: 20vh;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 95%;
  margin-top: 3vh;
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
  border: 1px solid white;

  > div {
    width: 12vw;
    border-radius: 5px;
    border: 2px solid white;
    background-color: rgb(241, 241, 241);
    text-align: center;
  }

  > div:nth-child(-n + 7) {
    grid-row: 1;
    font-weight: 700;
    gap: 10px;
    padding: 5px;
    background-color: rgb(241, 241, 241);
  }

  > div:nth-child(n + 8) {
    grid-row: 2;
    height: $grid-row-height;
    line-height: $grid-row-height;
  }

  div:nth-child(7) {
    background-color: $color-white;

    > button {
      font-size: 2rem;
      background-color: $color-white;
      border: 1px solid black;
      cursor: pointer;
      border-radius: 10px;
      width: 6vw;
    }
  }
}
