$mainBackgroundColor: #f0ece6;
$mainTextColor: rgb(60, 59, 59);
$color-white: white;
$color-black: black;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  height: 80vh;
  width: 100vw;
  background-color: $mainBackgroundColor;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  flex-direction: column;

  h2 {
    color: $mainTextColor;
    border-radius: 30px;
    border: 1px solid color-black;
    padding: 10px 30px;
  }

  div {
    display: flex;
    margin: 2vw;

    input[type="range"] {
      accent-color: $color-white;
      margin: 0 2vw 0 2vw;
    }

    div {
      width: 33vw;
      height: 8vh;
      margin: 0 5vw;
      background-color: rgb(44, 44, 44);
      border: 1px solid color-black;
      border-radius: 30vw;
      color: $color-white;
      font-size: 14px;
      @include flexCenter;
    }
  }

  a button {
    width: 10vw;
    height: 7vh;
    background-color: $color-black;
    border: 1px solid $color-white;
    color: $color-white;
    border-radius: 10vw;
    margin: 0 5vw 3vh;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
