.searchbox{
  box-sizing: border-box;
  width: 25vw;
  height: 7vh;
  border-radius: 5px;
  border: 2px solid #000;
  background: #FAF4F4;
  padding-left: 1vw;
  font-size: 1.2rem;
}

.search{
  box-sizing: border-box;
  width: 20vw;
  height: 7vh;
  background-color: rgba(248, 204, 212, 0);
  margin-left: 1vw;
  font-size: 1rem;
  border: none;
}
.search:focus {
  outline: none; /* 예시로 포커스 시 아웃라인을 제거하는 스타일 */
}