$base-color: #f9f5f1;
$text-color: black;
$font-size: 1.1rem;
$line-height: 7vh;
$text-align: center;

@mixin searchBox-style {
  box-sizing: border-box;
  width: 25vw;
  height: 8vh;
  border-radius: 10px;
  border: 2px solid #000;
  background: #FAF4F4;
  font-size: $font-size;
  line-height: $line-height;
  text-align: $text-align;
}

.banner {
  background-color: $base-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;

  a {
    text-decoration: none;
    color: $text-color;
    div {
      @include searchBox-style;
    }
  }
}
