$color-white: white;
$border-radius: 5px;
$border-width: 1px;
$card-background-color: #262626;
$card-margin: 1vw;
$artist-card-height: 34vh;
$album-card-height: 36vh;

.result {
  height: 58vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  color: $color-white;
  flex-wrap: wrap;
  overflow: auto;
  margin-top: $card-margin;
  border-radius: $border-radius;
  border: $border-width solid $color-white;
  margin-bottom: $card-margin;
}


.trackResult {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  font-size: 14px;
  border-radius: $border-radius;
  padding: 10px;

  >div {
    display: grid;
    align-items: center;
    justify-items: center;
    color: $color-white;
    text-align: center;
    grid-template-columns:
      minmax(4vw, 4vw) minmax(5vw, 5vw) minmax(28vw, 28vw) minmax(18vw, 18vw) minmax(23vw, 23vw) minmax(5vw, 5vw) minmax(5vw, 5vw);

    &:hover {
      font-size: 15px;
      font-weight: 500;
    }
  }

  >div:nth-child(1)>div {
    height: 6vh;
    position: relative;
    background-color: rgb(28, 28, 28);
    width: 100%;
    line-height: 7vh;
    font-size: 17px;
    border: 2px solid black
  }

  div>div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 9vh;
    width: 100%;
    text-align: center;
    background-color: rgb(49, 49, 49);
    border-radius: $border-radius;
    border: 2px solid black;
  }

  >div:not(:nth-child(1))>div:nth-child(2){
    background-color: rgb(25, 25, 25);
  }
}

.artistResults {
  height: 50vh;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0.9rem;
  padding: $card-margin;

  >div {
    width: 14vw;
    height: $artist-card-height;
    background-color: $card-background-color;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $card-margin;
    justify-content: center;

    >p:nth-child(2) {
      padding: 3px;
      font-size: 13px;
      text-align: center;
      font-weight: 500;
    }

    >p:nth-child(3) {
      font-size: 12px;
      color: grey;
    }
  }
}

.albumResults {
  height: 50vh;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 0.9rem;

  div {
    width: 15vw;
    height: $album-card-height;
    background-color: $card-background-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 7px 0px;
    margin: $card-margin;
  }

  div p:nth-child(2) {
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    text-align: center;
  }

  div p:nth-child(3) {
    font-size: 0.8rem;
    color: #8e8e8e;
  }
}