@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sixtyfour&display=swap');

$color-white: white;
$color-black: black;
$font-size-large: 3rem;
$spacing-medium: 2vw;
$button-width: 80px;
$button-height: 35px;
$div-width: 25vw;

@mixin topbar-link {
  color: $color-white;
  text-decoration: none;
  margin-right: $spacing-medium;

  &:hover {
    color: rgb(52, 52, 52);
  }
}

.topbar {
  width: 100vw;
  height: 15vh;
  position: fixed;
  z-index: 1000;
  display: flex;


  >div {
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      width: $div-width;

      a {
        @include topbar-link;
      }
    }

    &:nth-child(2) {
      width: 50vw;
      font-family: 'Sixtyfour', sans-serif;
      font-size: $font-size-large;
      text-align: center;

      a {
        @include topbar-link;
      }
    }

    &:last-child {
      flex-direction: column;
      width: $div-width;

      button,
      .login {
        color: $color-white;
        background-color: rgba(0, 0, 0, 0.716);
        border: none;
        border-radius: 5px;
        width: $button-width;
        height: $button-height;
        text-align: center;
        margin: 5px;
        line-height: $button-height;
        font-size: 13px;
        cursor: pointer;

        &:hover {
          background-color: rgba(217, 215, 215, 0.307);
          color: $color-black;
        }
      }
    }
  }
}