@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');

@font-face {
  font-family: 'Roboto';
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap') format("woff");
  unicode-range: U+0061-007A;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap') format("woff");
  font-style: normal;
}

:root {
  font-family: 'Noto Sans KR', 'Roboto';
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}